:vars {
  --foreground: #ece1d4;
  --background: #17130b;
  --cursor: #ece1d4;
  --primary: #ecc06c;
  --on-primary: #412d00;
  --secondary: #d9c4a0;
  --on-secondary: #3c2e15;
  --tertiary: #b2cfa7;
  --on-tertiary: #1f361a;
  --surface: #17130b;
  --surface-bright: #3e382f;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #9a8f80;
  --shadow: #000000;
  --red: #ffb595;
  --red-dim: #ff9162;
  --green: #b7d085;
  --green-dim: #a1c260;
  --yellow: #ddc56e;
  --yellow-dim: #d3b445;
  --blue: #cebdfe;
  --blue-dim: #a98bfd;
  --magenta: #fcb0d5;
  --magenta-dim: #fa7fbb;
  --cyan: #84d5c4;
  --cyan-dim: #5ec8b2;
  --white: #82d3e0;
}
